    /* background: #222831; */
    /* background: hsl(190, 40%, 50%); */
.toc {
    border-radius: 0.5em;
    margin-bottom: 1em;
    background: hsl(170, 10%, 72%); /* custom */
    padding: .5em;
    margin-top: 1em;
    top: 30px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 10px 20px 0px;
}

.toc ul {
    list-style: none;
    padding: 0.5rem 1rem;
    margin: 0;
}

.toc ul li {
    padding: .25em;
}

    /* color: #498afb; */
.toc ul li a {
	color: #fff
    font-weight: 500;
    transition: color .4s;
}

    /* color: #9166cc; */
.toc ul li a:hover {
    transition: color .4s;
    border-bottom: 1px solid #9166cc;
}

/*
.toc ul li ul {
    font-size: .75em;
    font-weight: 500;
    margin-left: 5px;;;;;
}
*/
.toc ul li ul {
    font-size: .85em;
    font-weight: 500;
    margin-left: 5px;;;;;
}

    /* color: #b2becd; */
/*
.toc ul li ul a {
	color: #fff
}
*/

